.instruction {
    margin-top: 71px;

    &__container {
    }

    &__container-inner-wrap {
    }

    &__heading {
        font-size: 60px;
        line-height: 60px;
        font-size: 60px;
        color: #000000;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__item1 {
        background: url(/images/1.svg) no-repeat right;
        width: 230px;
        height: 280px;
    }

    &__item2 {
        background: url(/images/2.svg) no-repeat right;
        width: 230px;
        height: 280px;
    }

    &__item3 {
        background: url(/images/3.svg) no-repeat right;
        width: 230px;
        height: 280px;
    }

    &__item4 {
        background: url(/images/4.svg) no-repeat right;
        
        width: 230px;
        height: 280px;
    }

    &__img-wrap {
        margin-top: 40px;
        margin-bottom: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background: #68B738;;
    }

    &__img {
    }

    &__txt {
        width: 231px;
        font-size: 16px;
        line-height: 24px; 
        color: #444444;
    }
}
